body {
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myform {
    padding: 10px;

}

.elem {
    width: 50px;
    height: 50px;
    border: 0.1px solid white;
    display:flex;
    justify-content:center;
    align-items:center;
    background: #4d4646;
    user-select: none;
}
.elem-flag{
 background-image: url("images/bigflag.png");
    background-size: cover;
    color: rgba(0, 0, 0, 0);

}
/*.elem:hover {
    background: red;
}*/


.grid {
    display: flex;
    flex-wrap: wrap;
    /*width: 502px;*/
    color: #4d4646;

}

